services:

  postgres:
    image: "postgres:15-alpine"
    ports:
      - 15432:5432
    expose:
      - "15432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    #env_file:
    #  - .env
    environment:
      POSTGRES_USER: todo
      POSTGRES_PASSWORD: todopwd
      POSTGRES_DB: db_todo
    restart: on-failure
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -d $POSTGRES_DB -U $POSTGRES_USER"
        ]
      interval: 10s
      timeout: 5s
      retries: 5

  postgres_test:
    image: "postgres:15-alpine"
    ports:
      - 15433:5432
    expose:
      - "15433"
    volumes:
      - ./postgres_data_test:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: todo
      POSTGRES_PASSWORD: todopwd
      POSTGRES_DB: db_todo_test
    restart: on-failure


volumes:
  postgres_data:
  postgres_data_test:
